PORT=3001
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_THIS_PASSWORD
META_API_VERSION=v24.0
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=act_1431244522269105
META_APP_ID=29337308309220358
META_APP_SECRET=
META_LOGIN_CONFIG_ID=1593268158906523
META_BUSINESS_ID=3649761428513722
META_PAGE_ID=1337059552826261
META_INSTAGRAM_ID=17841419872324129
META_REDIRECT_URI=https://YOUR_PUBLIC_DOMAIN/api/meta/oauth/callback
META_OAUTH_SCOPES=ads_management,business_management,pages_show_list,pages_read_engagement,instagram_basic,instagram_content_publish
INSTAGRAM_USER_ID=17841419872324129
INSTAGRAM_ACCESS_TOKEN=
PUBLIC_BASE_URL=https://YOUR_PUBLIC_DOMAIN
TIMEZONE=Europe/Istanbul
CRON_ENABLED=true
CRON_EVERY_MINUTES=1
MESSAGE_ACTION_TYPES=onsite_conversion.messaging_conversation_started_7d,messaging_conversation_started_7d
DATABASE_URL=
DB_SSL=false
NODE_ENV=development
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.8-flash
